[{:db/id -1, :actor/did "did:web:etzhayyim.github.io:com-etzhayyim-subaru", :actor/handle "subaru.etzhayyim.com", :actor/ipns-key "subaru-actor", :actor/graph-type "com.etzhayyim.subaru.graph", :actor/published "2026-06-28", :actor/bundle "[[\"data\" \"data\"] [\"wire/identity/did.json\" \"did.json\"] [\"README.md\" \"README.md\"]]"}]
